modules = ["nodejs-20", "php-8.2", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -c php.ini -S 0.0.0.0:5000 router.php"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 9999
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["php", "-c", "php.ini", "-S", "0.0.0.0:5000"]

[userenv]

[userenv.shared]
CAPTCHA_ENABLED = "true"
TURNSTILE_SITE_KEY = "0x4AAAAAACJyYqpnqfAr4A2k"
TURNSTILE_SECRET_KEY = "0x4AAAAAACJyYswEtXQ3V5bOvJuf4OlwXCs"
